.header {
  padding: 30px 0;
  background-image: url("../../img/pngtree-shapes-with-geometric-minimal-gradient-rectangle-background-png-image_704518.jpeg");
  .text {
    font-weight: 800;
    font-size: 50px;
    text-align: center;
  }
}
